* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin: 2rem;
}

.btnAndInput{
  display: flex;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 200px;
  align-items: center;
  margin: 0;
  border: 1px solid #cfcfcf;
  padding: 10px;
  border-radius: 0.5rem 0rem 0 0.5rem;
  box-shadow: inset 0 0 2px #d9d9d9;
}

.react-daterange-picker__wrapper{
  display: none;
}

.searchBtn {
  width: 20px;
  color: black;
  background-color: #eeeded;
  height: 38px;
  padding: 0px 1rem;
  border: 1px solid #cfcfcf;
  border-left: none;
  border-radius: 0 0.5rem 0.5rem 0;
  outline: none;
}

.searchBtn:active{
  box-shadow: inset 0 0 3px #9e9e9e;
  color: aliceblue;
  background-color: #cacaca;
}

.inputContainer .inputHolder {
  display: flex;
  width: 200px;
  height: fit-content;
  align-items: center;
  margin: 0;
}

.inputContainer .imgCalendar {
  width: 20px;
  outline: none;
  margin: 0;
  margin-right: 0.5rem;
}

.inputContainer .inputHolder input {
  border: none;
  outline: none;
  text-align: center;
  width: 70px;
  margin: 0;
}

.counterText {
  font-size: 0.9rem;
  margin: 0;
  text-align: left;
  font-weight: 600;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
  color: #7b7a7a;
}

.counterNumber {
  margin-left: 5px;
  margin-right: 1px;
  font-size: 1.1rem;
  font-weight: 700;
  color: #717171;
}

.divider {
  height: 1px;
  background-color: #cfcfcf;
  width: 100%;
}

.topRow {
  display: flex;
  background-color: #eeeded;
  border: 1px solid #cfcfcf;
  border-left: none;
  border-right: none;
  color: #7b7a7a;
}

.topRow div{
  text-align: left;
  font-size: 0.9rem;
  font-weight: 600;
  color: inherit;
  padding: 0.5rem;
}

.topRow div:nth-child(1){
  width: 15%;
  max-width: 200px;
  margin: 0;
}

.topRow div:nth-child(1):hover{
  cursor: pointer;
}

.topRow div:nth-child(2){
  width: 25%;
  max-width: 350px;
  margin: 0;
}

.topRow div:nth-child(3){
  width: calc(60% - 95px);
  margin: 0;
}

.topRow div:nth-child(4){
  max-width: 95px;
  min-width: 95px;
  margin: 0;
}

.topRow div:nth-child(4):hover{
  cursor: pointer;
}

.rows {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #cfcfcf;
}

.rows:hover > div:not(.notHover){
  color: blue;
}

.notHover{
  font-weight: 600;
}

.rows:hover {
  background-color: #eeeded;
  cursor: pointer;
}

.rows div {
  font-size: 0.8rem;
  padding: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.rows div:nth-child(1){
  width: 15%;
  max-width: 200px;
  margin: 0;
}

.rows div:nth-child(2){
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  max-width: 350px;
  margin: 0;
}

.rows div:nth-child(2) div{
  padding: 0;
  max-width: 350px;
  width: calc(100% - 35px);
}

.rows div:nth-child(2) .moreNumber{
  text-align: center;
  font-size: 0.73rem;
  font-weight: 800;
  min-width: 20px;
  background-color: #9a9a9a;
  border-radius: 5px;
  color: white;
  max-height: fit-content;
  padding: 1px;
  height: fit-content;
}

.rows div:nth-child(3){
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(60% - 95px);
  margin: 0;
}

.rows div:nth-child(3) div{
  padding: 0;
  max-width: none;
  width: calc(100% - 35px);
}

.rows div:nth-child(3) .clipImg{
  width: 14px;
}

.rows div:nth-child(4){
  max-width: 95px;
  min-width: 95px;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: transparent;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

