* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin: 2rem;
}

.btnAndInput{
  display: flex;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 200px;
  align-items: center;
  margin: 0;
  border: 1px solid #cfcfcf;
  padding: 10px;
  border-radius: 0.5rem 0rem 0 0.5rem;
  box-shadow: inset 0 0 2px #d9d9d9;
}

.searchBtn {
  width: 20px;
  color: black;
  background-color: #eeeded;
  height: 38px;
  padding: 0px 1rem;
  border: 1px solid #cfcfcf;
  border-left: none;
  border-radius: 0 0.5rem 0.5rem 0;
}

.inputContainer .inputHolder {
  display: flex;
  width: 200px;
  height: fit-content;
  align-items: center;
  margin: 0;
}

.inputContainer img{
  width: 20px;
  margin: 0;
}

.inputContainer .inputHolder input {
  border: none;
  text-align: center;
  width: 70px;
  margin: 0;
}

.counterText {
  font-size: 0.9rem;
  margin: 0;
  text-align: left;
  font-weight: 600;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
  color: #4a4a4a;
}

.counterNumber {
  margin-left: 5px;
  margin-right: 1px;
  font-size: 1.1rem;
  font-weight: 700;
  color: #4a4a4a;
}

.divider {
  height: 1px;
  background-color: #cfcfcf;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: transparent;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
